
@model IEnumerable<Markov_laba_2.Models.Restaurant>
@{
	ViewData["Title"] = "Index";
}

<h2>Сделать заказ</h2>
<h2>Выберите ресторан</h2>
@foreach(var item in Model)
{
	<a href="">
		<span>
			@Html.DisplayFor(modelItem => item.Name)
		</span>
	</a>
}
